<a href="https://colab.research.google.com/github/necromancer143/project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#series = 1- Dimensional
series=pd.Series(["Toyota", "BMW","Honda"])
series

0    Toyota
1       BMW
2     Honda
dtype: object

In [ ]:
colors = pd.Series(["Green", "Red", "Blue"])
colors

0    Green
1      Red
2     Blue
dtype: object

In [ ]:
#Dataframe 2-D
car_data = pd.DataFrame({"Car Name" : series,"Car Color": colors})
car_data

  Car Name Car Color
0   Toyota     Green
1      BMW       Red
2    Honda      Blue

In [3]:
# without brackets = Attributes
#with brackets = functions
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
import pandas as pd

path=('/content/drive/MyDrive/neeknots.csv')
neeknots=pd.read_csv(path)
neeknots.describe()

,Position,Previous position,Search Volume,Keyword Difficulty,CPC
count,17.000000,17.000000,17.000000,17.000000,17.000000
mean,48.705882,48.705882,115.294118,28.470588,0.301765
std,28.752749,28.752749,104.708980,14.182373,0.420658
min,1.000000,1.000000,40.000000,13.000000,0.000000
25%,22.000000,22.000000,50.000000,17.000000,0.000000
50%,55.000000,55.000000,70.000000,20.000000,0.000000
75%,74.000000,74.000000,170.000000,39.000000,0.550000
max,87.000000,87.000000,390.000000,56.000000,1.200000

In [16]:
neeknots.sum()
neeknots.columns

Index(['Keyword', 'Position', 'Previous position', 'Search Volume',
       'Keyword Difficulty', 'CPC'],
      dtype='object')

In [20]:
neeknots["CPC"].sum()
len(neeknots)

17